.search-form {
  margin: 1rem;
}

.search-bar {
  width: 100%;
  border: 1px solid rgb(80, 80, 80);
  display: flex;
}

.search-field {
  padding: 0.5rem;
  width: 100%;
  border: none;
}

.search-field:focus {
  outline: none;
}

.search-button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(80, 80, 80);
  padding: 0.5rem;
  cursor: pointer;
}

.search-button:hover {
  color: rgb(0, 0, 0);
}

.controller {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}
