.search-form {
  margin: 1rem;
}

.search-bar {
  width: 100%;
}

.search-form input {
  padding: 0.5rem;
  width: 90%;
}

button {
  padding: 0.5rem;
  width: 10%;
}

.controller {
  margin-top: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
}
