<form [formGroup]="searchForm" class="search-form">
  <div class="search-bar">
    <input
      class="search-field"
      formControlName="search"
      type="search"
      placeholder="Search recipe"
    />

    <div
      class="search-button"
      type="button"
      (click)="searchFilter(searchForm.value)"
    >
      <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </div>
  </div>

  <select class="controller" name="health" formControlName="health">
    <option [ngValue]="null">Health</option>
    <option *ngFor="let health of health" [ngValue]="health.name">
      {{ health.name }}
    </option>
  </select>

  <select class="controller" name="mealType" formControlName="mealType">
    <option [ngValue]="null">Meal type</option>
    <option *ngFor="let mealType of mealType" [ngValue]="mealType.name">
      {{ mealType.name }}
    </option>
  </select>
</form>
