.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Set height needed to align content vertically */
  height: 84vh;
}

.vertical-align {
  text-align: center;
}

h1 {
  font-size: 12rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2 {
  line-height: 0;
}

p {
  font-size: 1.5rem;
}
