<header class="container nav-bar">
  <a routerLink="recipes">
    <h1>Recipe App</h1>
  </a>
  <div class="container" *ngIf="this.authService.isLoggedIn" >
    <p class="nav-item" routerLink="/recipelists">Lists</p>
    <button class="btn btn-outline" (click)="logout()">Logout</button>
  </div>
  <div *ngIf="!this.authService.isLoggedIn">
    <button class="btn btn-outline" routerLink="/login">Login</button>
    <button class="btn btn-outline" routerLink="/register">Register</button>
  </div>
</header>
