.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 8%;
}

.container h1 {
  margin-left: 1rem;
}

.container button {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: rgb(56, 48, 48);
}

.btn {
  font-size: 1rem;
  padding: 0.6rem 2rem;
  background-color: rgba(0, 0, 0, 0);
}
