.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  height: 8%;
}

.container h1 {
  margin-left: 1rem;
}

.container button {
  margin-right: 1rem;
}
